<!doctype html>
<html lang="en">
  <head>
    <%- include("templates/head.html", { title: "Sustainable Web Development with Ruby on Rails",
                                         description: "Website for the book 'Sustainable Web Development with Ruby on Rails'",
                                         url: "https://sustainable-rails.com",
                                       }) %>
  </head>
  <body class="ma0 pa0">
    <a href="https://ruby.social/@davetron5000" rel="me" style="display:none">Mastodon</a>
    <aside class="tc db bg-book-gray book-blue-glow futura pv3 tracked ttu w-100">
      <a href="/rails7.html" class="link book-blue-glow">
        <span aria-label="star" role="img">🌟</span> Updated for Rails 7!</a>
    </aside>
    <header class="tc ph3 mt3 tl-ns bg-white black cf">
      <div>
        <div class="db center dn-ns w5">
          <img alt="picture of the book with a tablet and mobile version" src="/images/book-with-tablet-mobile-1000.jpg">
        </div>
        <div class="w5 db-ns dn">
          <img alt="picture of the book with a tablet and mobile version" src="/images/book-with-tablet-mobile-1000.jpg" class="db fl">
        </div>
      </div>
      <h1 class="f3 f2-ns mb0 mt3">
        <a href="/" class="link book-gray f2-ns f3">
          <span class="book-gray">Sustainable Web Development</span>
        </a>
      </h1>
      <h2 class="f3 f2-ns mb0 mt0">with Ruby on Rails</h2>
      <h3 class="fw4 f3-ns f4 fw3-ns mb0 mt2">Over 450 Pages of Practical Tips for Building Rails Apps that Last</h3>
      <h4 class="f5 fw4 mt3 ttu">A Book by <a href="https://naildrivin5.com" class="f5 dib link blue underline">David Bryant Copeland</a>
      </h4>
    </header>
    <main>
      <div class="tc pa0 ma0 ma1-ns mb2 mt2 pa2-ns">
        <%- include("templates/buy_now.html") %>
      </div>
      <section class="ma0 pa3 bt center-ns mw6-ns">
        <ul>
          <li class="lh-title mb2">Tired of bloated models that won't stop growing?</li>
          <li class="lh-title mb2">Development slowed to a crawl due to ever-increasing complexity?</li>
          <li class="lh-title mb2">Bogged down by an ever-growing list of gems you think will solve your problems?</li>
          <li class="lh-title mb2">Determined that next time, you'll “do it right”?</li>
        </ul>
        <p class="lh-copy measure tc f3 fwb mb0">This book can help.</p>
      </section>
      <section class="ma0 near-white bg-book-gray book-gray-gradient pa2 pt2-ns pt4">
        <div class="center-ns mw6-ns mt3-ns">
          <ul class="ma0 list ph3">
            <li class="lh-title futura mb3 mh0 ph0 tc-ns tl">Practical tips for each part of Rails…with examples</li>
            <li class="lh-title futura mb3 mh0 ph0 tc-ns tl">Learn to <strong>use</strong> Rails, not abstract it away</li>
            <li class="lh-title futura mb3 mh0 ph0 tc-ns tl">
              <p class="center-ns measure-narrow-ns">Manage and isolate your business logic without fancy patterns or libraries</p>
            </li>
          </ul>
          <p class="f6 lh-copy mt4 tc">
            <a href="https://sowl.co/boqdo7" class="b book-blue-glow-muted">Buy Now for $49.95</a>, <a href="/assets/sustainable-rails-sample.pdf" class="dib bright-blue">read a Sample</a>, or <a href="#outline" class="dib bright-blue">see the full Table of Contents</a>.</p>
        </div>
      </section>
      <section class="ma0 pa0 bg-light-gray pv3">
        <p class="lh-copy measure center ph3 tc f4 measure-narrow-ns">Learn how to manage <strong class="db">carrying costs</strong> in your app by strategically incurring <strong class="db">opportunity costs</strong>
        </p>
        <ul class="ma0 list ph3 center-ns mw6-ns">
          <li class="lh-copy mb3">
            <strong>Messy models with entangled dependencies and confusing callbacks?</strong> Instead, put business logic in plain Ruby classes that use your models to access the database.</li>
          <li class="lh-copy mb3">
            <strong>Trying to fit functionality into resources based on your database tables?</strong> Try using custom resources with standard routes and Active Models instead of tons of custom routes.</li>
          <li class="lh-copy mb3">
            <strong>Fighting with JavaScript, APIs, and Source Maps?</strong> Embrace server-rendered views.</li>
          <li class="lh-copy mb3">
            <strong>Slow test suite?</strong> Don't over test. Controllers don't need a test if you have a system test. Simple validations don't need tests. If your jobs are a single-line delegation to business logic, why test them?</li>
        </ul>
        <div class="ph3">
          <p class="lh-copy measure center ph3 tc bt futura mt2 mw6-ns pt3">
            <a href="https://sowl.co/boqdo7">Buy Now</a> and learn more of these tips. The book has extended examples and detailed, pragmatic explanations for <strong>when</strong> to use—or not use—each technique, all based on real-world experience.</p>
        </div>
      </section>
      <section class="ma0 pa3 bg-white near-black pb0 pb3-ns">
        <div class="center-ns mw6-ns cf">
          <h2 class="tc f3">What You Get</h2>
          <div class="tc center dn-ns w4">
            <img alt="Picture of the book as shown on a tablet" src="/images/tablet.jpg">
          </div>
          <div class="db-ns dn fr ml4 w4">
            <figure class="ma0 bg-white br3 pa2">
              <img alt="Picture of the book as shown on a tablet" src="/images/tablet.jpg" class="db">
            </figure>
          </div>
          <ul>
            <li class="lh-copy measure">Over 450 Pages of practical tips on building Rails apps</li>
            <li class="lh-copy measure">A beautifully typeset, DRM-free PDF for reading on any device, replete with an index for quick reference.</li>
            <li class="lh-copy measure">DRM-free EPUB that works with iBooks, Kindle and more!</li>
            <li class="lh-copy measure">A plain text Markdown version for all the grepping your heart desired</li>
          </ul>
        </div>
      </section>
      <section class="ma0 pa3 bg-white near-black pt0 pt3-ns">
        <div class="center-ns mw6-ns cf">
          <h2 class="tc f3">Prefer it in print?</h2>
          <div class="tc center dn-ns w5">
            <img alt="Picture of the book" src="/images/book.jpg">
          </div>
          <div class="w5 db-ns dn fl">
            <img alt="Picture of the book" src="/images/book.jpg">
          </div>
          <div class="mt5-ns">
            <ul class="ma0 pa0 list">
              <li class="lh-copy">
                <a href="https://bit.ly/sustainable-rails-print" class="tc tl-ns book-gray db link underline">$49.95 from Amazon (soft cover)</a>
              </li>
              <li class="lh-copy">
                <a href="https://amzn.to/3LuJ1B8" class="tc tl-ns book-gray db link underline">$59.95 from Amazon (hard cover)</a>
              </li>
            </ul>
            <a name="both">
              <p class="lh-copy tc ph3 f7 i mt3 tl-ns">
                <strong class="dib">Why no package on print and electronic?</strong> Due to the realities of self-publishing, I can't offer you a package deal on both the ebook and the print version. My recommendation is to buy the version that you find most comfortable for reading.</p>
            </a>
          </div>
        </div>
        <a name="versions">
          <div class="tc mt5-ns">
            <h3>Versions</h3>
            <ul class="ma0 pa0 list">
              <li class="lh-copy di">Rails 7</li>
              <li class="lh-copy di ph3" ariarole="non">·</li>
              <li class="lh-copy di">Ruby 3.1.0</li>
            </ul>
            <p class="f6 lh-copy center measure">The book's guidance can be applied to <strong>any</strong> version of Rails, but the code samples use the non-deprecated APIs for Rails 7. <a href="/rails7.html">See what's changed since the Rails 6 version</a>.</p>
          </div>
        </a>
        <a name="pricing">
          <div class="tc mt5-ns">
            <h3>International Pricing</h3>
            <p class="f6 lh-copy center measure tl">I realize the cost of living outside the United States can be wildly different from living in the U.S. and that a $50 book can be a big investment. I have created several discount codes that will bring the price down to a level that's more in line with the purchasing power in your country.</p>
            <p class="f6 lh-copy center measure tl">It's not perfect, and you are on your honor to choose the best discount for where you live. Visit <a href="https://naildrivin5.com/books/index.html#pricing" target="_new">my website</a> for more info and then use the best code <a href="https://sowl.co/boqdo7" class="link underline">at checkout</a> for the eBook. If you are buying the <a href="https://bit.ly/sustainable-rails-print" class="link underline">print book from Amazon</a>, I have adjusted the pricing in Amazon already, though Amazon only allows me to set pricing for certain countries.</p>
          </div>
        </a>
      </section>
      <section class="ma0 pa3 bg-near-black near-white">
        <div class="center-ns mw6-ns cf">
          <h2 class="f3 lh-title">About Me <span class="dib">(the Author)</span>
          </h2>
          <img alt="Photo of David Copeland, the author" src="/images/DavidCopeland.jpg" class="mr3 br3 fl mb2 mt2 mw-2 w-25">
          <p class="lh-copy measure">My name is David Bryant Copeland and I've spent the last nine years working on long-lived Rails apps. I've worked on a huge monolith whose construction was not managed as well as greenfield apps that evolved over many years from monoliths to a microservices architecture.</p>
          <p class="lh-copy measure">13 years prior to that I worked on various technologies and apps both for consulting clients and startups. Lastly, I've advised several startups using Rails and seen first-hand how small mistakes made early on can have a cascading effect on team sustainabilty.</p>
          <p class="lh-copy measure">The content of this book is based on my actual experience—I've really done everything in the book. I've seen (and made) decisions that both lead to great sustianbility as well as harmed it. There's nothing theoretical about what's in the book.</p>
          <p class="lh-copy measure">Feel free to look at <a href="https://www.linkedin.com/in/davidcopeland" class="link underline light-blue">my resume</a> to see what my experience is. I've also authored several technical books, including <a href="https://pragprog.com/book/rails6" class="link underline light-blue">Agile Web Development with Rails 6</a>, <a href="http://www.theseniorsoftwareengineer.com/" class="link underline light-blue">The Senior Software Engineer</a>, and <a href="https://solid-is-not-solid.com" class="link underline light-blue">SOLID is not Solid</a>. I'm <a href="https://twitter.com/davetron5000" class="link underline light-blue">@davetron5000 on Twitter</a>
          </p>
        </div>
      </section>
      <section class="mt5" id="outline">
        <h2 class="tc tl-ns f3 mv0 ph3-ns pv1 w-100">
          <div class="center-ns mw7-ns">Table of Contents</div>
        </h2>
        <%- include("templates/toc.html") %>
      </section>
      <section class="near-black pa3 bg-light-gray pt4-ns">
        <div class="center-ns mw6-ns tc-ns">
          <h2 class="f5 dib mt0 ph3 tc">Got feedback?</h2>
          <ul class="ma0 pa0 dib">
            <li class="f6 db dib-ns pl0-ns pl3 pt0-ns pr3 pt1">
              <a href="mailto:davetron5000+sustainablerails@gmail.com" class="link underline black">
                <span aria-label="email" role="img">📧</span> Email me</a>
            </li>
            <li class="f6 db dib-ns pl0-ns pl3 pt0-ns pt2">
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScN1Oze7aw0PtREuph909ZWYy_ZFPCzkLZKJvlY1BodwIuBTQ/viewform?usp=sf_link" class="link underline">
                <span aria-label="note" role="img">📝</span> Submit via Google Form</a>
            </li>
          </ul>
        </div>
      </section>
      <section>
        <div class="tc center mw6-ns ma1 pa3 pt2">
          <a href="https://sowl.co/boqdo7" class="f5 link book-gray-gradient br3 f4-ns futura fw7 mt2 nowrap ph4 pointer pv2 db">
            <span class="near-white">Buy Now $49.95</span>
          </a>
        </div>
      </section>
    </main>
    <%- include("templates/footer.html") %>
  </body>
</html>
