<div class="tc pa0 ma0 ma1-ns mb2 mt2 pa2-ns">
  <a href="https://sowl.co/boqdo7" class="f5 dib link book-blue book-gray-gradient br3 f4-ns futura fw7 mt2 nowrap ph4 pointer pv2 tracked">Buy e-Book $49.95</a>
  <div class="tc mt4 ma3-ns mb4 mt3-ns pa0">
    <a href="https://bit.ly/sustainable-rails-print" class="link underline book-gray">or Buy in Print from $49.95</a>
  </div>
  <div class="tc mt4 ma3-ns mb4 mt3-ns pa0">
    <a href="/index.html#pricing" class="link underline book-gray db d-ns f7 ma0-ns mh3 mt3">Not from the USA? You may be able to get a discount!</a>
  </div>
</div>
