@import "tachyons/css/tachyons";


html {
  font-family: "Baskerville", georgia, serif;
  font-size: 22px;
  color: #333;
}

h1, h2, h3, h4, h5, .futura {
  font-family: "Futura", avenir, sans-serif;
}

.book-blue-gradient {
  background: linear-gradient(188deg, hsl(189.89999999999998, 83.1%, 62.9%) 79%, hsl(188.60000000000002, 73.3%, 79.4%) 89%);
}

.book-gray-gradient {
  background: linear-gradient(215deg, hsl(0, 0%, 20%) 0%, hsl(0, 0%, 40.4%) 90%);
}

.book-gray { color: #333333; }
.bg-book-gray { background-color: #333333; }
.b--book-gray { border-color: #333333; }
.b--book-blue { border-color: #52D5EF; }
.book-blue { color: #52D5EF !important; }
.bright-blue { color: #74F7FF !important; }
.bg-bright-blue { background-color: #74F7FF !important; }
.bg-book-blue { background-color: #52D5EF; }
.blue { color: #095060; }

.book-blue-glow {
  color: #74F7FF !important;
  text-shadow:
    0 0 2px #74F7FF,
    0 0 4px #74F7FF,
    0 0 7px #74F7FF,
    0 0 9px #0af,
    0 0 11px #0bf,
    0 0 13px #0cf,
    0 0 15px #0df;
}

.book-blue-glow-muted {
  color: #74F7FF !important;
  text-shadow:
    0 0 1px #74F7FF,
    0 0 3px #52d5dd,
    0 0 5px #30b3bb,
    0 0 9px #0af,
    0 0 10px #0bf,
    0 0 11px #0cf,
    0 0 12px #0df;
}
a:visited {
  color: #095060;
}
a:visited.light-blue {
  color: #74F7FF;
}

li.fw5 {
  font-weight: bold;
}

