* {
  font-family: avenir, sans-serif;
  font-size: 22px;
  color: #111;
}
body {
  margin-left: 0.64;
  margin-right: 0.64;
}
@media(min-width:30em) {
  body {
    margin-left: 3.8140625rem;
    margin-right: 3.8140625rem;
  }
}
header h1, header h1 a {
  font-size: 1.953rem;
  margin-bottom: 0;
  color: #111 !important;
  text-decoration: none;
}
header h2 {
  font-size: 1.953rem;
  margin-top: 0;
  margin-bottom: 0;
}
header h3 {
  font-size: 1.563rem;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}
header h4 {
  font-size: 1em;
  margin-top: 0.512rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 0;
}
header h4 a {
}
a, a:visited {
  color: #118;
}
a:hover {
  color: #44b;
}
header h5 {
  margin-top: 0.512rem;
}
@media(min-width:30em) {
  header h1 {
    font-size: 2.441rem;
  }
  header h2 {
    font-size: 2.441rem;
  }
  header h3 {
    font-size: 1.953rem;
    font-weight: normal;
  }
  header h4 {
    font-size: 1em;
  }
}
header img {
  float: left;
  width: 13.09rem;
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
  display: none;
}
@media(min-width:30em) {
  header img {
    display: block;
  }
}


p {
  max-width: 30rem;
  line-height: 1.4;
}

.cf:before,
.cf:after   { content: " "; display: table; }
.cf:after   { clear: both; }
.cf         { *zoom: 1; }

.sr-only {
  display: none;
}

form input[type=email] {
  margin-top: 0.512rem;
  font-size: 1.25rem;
  padding: 0.512rem;
  border: solid thin black;
  background: #fdfffd;
}
form input[type=submit] {
  margin-top: 0.512rem;
  font-size: 1.25rem;
  font-weight: bold;
  padding-left: 0.64rem;
  padding-right: 0.64rem;
  padding-top: 0.512rem;
  padding-bottom: 0.512rem;
  border: solid thin black;
  border-radius: 0.512rem;
  background: #fdfdfd;
  color: #111;
  cursor: pointer;
}
form input[type=submit]:hover {
  background: #ededed;
}
.blank-list {
  list-style: none;
}
.updates time {
  font-weight: bold;
}
.updates h1, .outline h1 {
  font-size: 1.25rem;
}
code {
  font-family: courier;
}

.outline ol li {
  margin-top: 0.512rem;
}
main h1 {
  font-size: 1.953rem;
  margin-bottom: 0;
}
main h2 {
  font-size: 1.563rem;
  margin-top: 0;
  margin-bottom: 0;
}
main h3 {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
main h4 {
  font-size: .64em;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
  letter-spacing: 0.261rem;
}


.latex-only {
  display: none;
  visibility: hidden;
}
aside.sidebar {
  width: 100%;
  margin: 0;
  padding-left: 0.512rem;
  padding-right: 0.512rem;
  padding-bottom: 0.512rem;
  padding-top: 0.409rem;
  background: #efefef;
  border-top: solid thick #888;
  border-bottom: solid thick #888;
}
@media(min-width:30em) {
  aside.sidebar {
    background: #efefef;
    border: solid thin;
    border-radius: 0.512rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 30rem;
  }
}
aside.sidebar h1 {
  font-family: Baskerville, serif;
  font-size: 1rem;
}
aside.sidebar p, aside.sidebar em {
  line-height: 1.2;
  font-size: 0.8rem;
  font-family: Baskerville, serif;
}
aside.sidebar code {
  font-size: 0.8rem;
}
code {
  font-family: courier;
}
.sc {
  font-variant: small-caps;
}
